body {
  margin: 0;
  height: 100vh;
  display: grid;
  background: linear-gradient(rgba(240,240,240,.9), rgba(240,240,240,.7)), url("../img/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.language-select {
  border: 0;
  background: transparent;
  outline: none;
}

.language-select::after {
  content: '\25BC';
  cursor: pointer;
  border: 0;
  box-shadow: none;
  position: absolute;
}

#container {
  width: 50vw;
  padding: 20px;
  margin: auto;
  text-align: center;
  background-color: rgba(255,255,255,0.6);
  font-family: 'Raleway', sans-serif;
}

#container h1 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
}

.first-name{
  font-size: 36px;
  font-weight: 400;
}

#container .location {
  font-weight: 200;
  margin: 5px;
}

.profile-img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    -webkit-filter: grayscale(100%) brightness(130%) contrast(90%);
    filter: grayscale(100%) brightness(130%) contrast(90%);
    transition-duration: 0.5s;
}

.profile-img:hover{
  -webkit-filter: grayscale(5%) brightness(130%) contrast(90%);
  filter: grayscale(5%) brightness(130%) contrast(90%);
  transition-duration: 0.5s;
}

.text-wrapper {
  margin: 30px 50px;
}

.description {
  text-align: justify;
}

a {
  color: rgb(80, 80, 80);
}

.links-wrapper a {
  text-decoration: none;
  color: black;
}

.links-wrapper a:hover{
  opacity: 0.8;
}